include agestrucne/resources/*life.table.info
include agestrucne/resources/*param.names
include agestrucne/resources/*menu*
include agestrucne/configuration_files/simulation/*with.model.name
include agestrucne/bin/*
