[species]
name=../configuration_files/simulation/50bottlenose.conf.with.model.name

[outFolder]
name=batchruns

[lifetable]
name=../resources/life_tables_no_nbnc_info/bottlenose.life.table.info

[simparamset]
name=../resources/simupop.param.names

[lineRegress]
name="unknown"

[lambda]
values=1.0,0.99

[startLambdas]
values=10 

[startPop]
values=45

[startNewborns]
values=50

[N0]
values=50,60

[Microsats]
values=100

[alleleCount]
values=2

[SNPs]
values=0

[mutationRate]
values=0

[lociSampleRate]
values=1.0

[individualSamplRate]
values=1.0

[simReps]
values=1


